<h1 class="pb-4">Bookings </h1>
<h1 class="pb-4">Edit Bookings please click on image</h1>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(userRecipe != '') { %>
    <% userRecipe.forEach(function(Recipe, index){ %>
    <a href="/myRecipe/<%= Recipe._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/uploads/<%= Recipe.image %>" alt="<%= Recipe.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%= Recipe.name %></div>
    </a>
    <% }) %>
  <% } else { %>
    <p>No items found.</p>
  <% } %>
</div> 



<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Book Location</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Book drone shot location for customers</p>
  </div>
</div>

<div class="row justify-content-center">  

  <div class="col-8">

    <form action="/submit-Recipe" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">

        
        <div class="col-12">
          <label for="name" class="form-label">Customer Name</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>
        
        <div class="col-12">
          <label for="description" class="form-label"> Drone shot description</label>
          <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Drone shot type</label><br>
          <small>Example: Type1</small>
          <div class="ingredientList">
            <div class="ingredeintDiv mb-1">
              <input type="text" name="ingredients" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Type</button>
        </div>

        <div class="col-12">
          <label for="category">Select Location</label>
          <select class="form-select form-control" name="category" aria-label="Category">
            <option selected>Select Location</option>
            <option value="Thai">Thailand</option>
            <option value="American">America</option>
            <option value="Chinese">China</option>
            <option value="Mexican">Mexico</option>
            <option value="Indian">India</option>
          </select>
        </div>

        <div class="col-12">
          <label for="image">Location Image</label>
          <input type="file" class="form-control" name="image" accept="image/*">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Book</button>
        </div>

      </div>
    
    </form>

  </div>
</div>